
.blogSection {
    padding: 20px;
    /* background-color: #f9f9f9; */
}
.head{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

.sectionTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}


.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 20px; 
}


.card {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.date {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #003d84; 
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Title Styling */
.title {
    font-size: 18px;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 5px;
    z-index: 2; 
}

@media only screen and (max-width: 768px){
    .gridContainer {
        display: grid;
        grid-template-columns: auto auto ; 
        gap: 20px; 
    }
    
}
